<% if current_user.admin %>
    <h1><%= @attraction.name %></h1>
    <p>Total Number of Users: <%= @attraction.users.count %></p>
    <p>Ticket Requirement:<%= @attraction.tickets%></p>
    <p>Nausea Rating: <%= @attraction.nausea_rating%></p>
    <p>Happiness Rating: <%= @attraction.happiness_rating%></p>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction)  %>
<% else %>
    <% if @message %>
    <%= @message %>
    <% end %>
    <p>Name: <%= @attraction.name %></p>
    <p>Total Number of Users: <%= @attraction.users.count %></p>
    <p>Ticket Requirement:<%= @attraction.tickets%></p>
    <p>Nausea Rating: <%= @attraction.nausea_rating%></p>
    <p>Happiness Rating: <%= @attraction.happiness_rating%></p>  
    <%= button_to "Go on this ride", new_ride_path%>
<%end%>  